@keyframes fadeIn {
  from { 
    opacity: 0; 
    transform: translateY(25px); 
}
  to { 
    opacity: 1; 
    transform: translateY(0);
}
}
.animate-fadeIn { 
    animation: fadeIn 0.7s ease-out; 
}

@keyframes shake {
  0%,100% { 
    transform: translateX(0);
 }
  25% { 
    transform: translateX(-4px); 
}
  75% { 
    transform: translateX(4px); 
}
}
.animate-shake { 
    animation: shake 0.3s ease-in-out; 
}
